@use '../../vars';

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  transition-duration: 500ms;
  transition-property: opacity;

  & > * {
    flex-basis: 40px;
  }

  @media (width >= vars.$breakpoint-sm) {
    display: none;
  }
}

.disabled {
  position: absolute;
  z-index: -999;
  opacity: 0;
}

.container {
  display: flex;
  position: absolute;
  z-index: -999;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px #fffb;
  transition-duration: 500ms;
  transition-property: opacity;
  opacity: 0;

  @media (width >= vars.$breakpoint-sm) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    z-index: inherit;
    position: inherit;
    opacity: 1;
  }
}

.enabled {
  z-index: inherit;
  position: inherit;
  opacity: 1;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;

  & > :not(.home) {
    // flex-grow: 1;
    flex-basis: 40px;

    @media (width >= vars.$breakpoint-sm) {
      display: none;
    }
  }

  @media (width >= vars.$breakpoint-sm) {
    width: auto;
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;

  .login {
    text-align: center;
    width: 100%;
  }

  @media (width >= vars.$breakpoint-sm) {
    flex-direction: row;
    width: auto;
  }
}

.inline {
  flex-direction: row;
}

$bg-search: vars.bg-color(vars.$input-opacity);

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 12px;
  padding: 6px;
  transition-duration: 200ms;
  background-color: $bg-search;

  @media (width >= vars.$breakpoint-sm) {
    background: none;

    .icon {
      text-align: center;
      width: 20px;
    }

    &:hover,
    &:has(input:focus) {
      background-color: $bg-search;
    }

    &:hover input,
    & input:focus {
      width: auto;
    }

    & input {
      width: 0;
    }
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
}
