@use '../../vars';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px #fffb;

  @media (width >= vars.$breakpoint-sm) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;

  @media (width >= vars.$breakpoint-sm) {
    width: auto;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;

  .login {
    text-align: center;
    width: 100%;
  }

  @media (width >= vars.$breakpoint-sm) {
    flex-direction: row;
    width: auto;
  }
}

.inline {
  flex-direction: row;
}

$bg-search: vars.bg-color(vars.$input-opacity);

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 12px;
  padding: 6px;
  transition-duration: 200ms;
  background-color: $bg-search;

  @media (width >= vars.$breakpoint-sm) {
    background: none;

    .icon {
      text-align: center;
      width: 20px;
    }

    &:hover,
    &:has(input:focus) {
      background-color: $bg-search;
    }

    &:hover input,
    & input:focus {
      width: auto;
    }

    & input {
      width: 0;
    }
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
}
